<h1>Hello page</h1>
<% @array.each do |n|%>
<%= n%>
<%end%>
<br>
<a href="/demo/index">Index page 1</a>
<br>
<%= link_to("Index Page 2", {:action => 'index'})%>
</br>
ID: <%= params[:id]%>
ID: <%= @id%>
Next Page: <%= params[:page] + 1.to_s%>
<hr/>
<%= params.inspect%>