<h1>Demo#index</h1>

<a href="/demo/hello">Hello page 1</a>
<br>
<%= link_to("Hello Page 2", {:action => 'hello'})%>
<br>
<%= link_to("Hello Page with Parameters", {:action => 'hello', :id => 20, :page => 3 })%>
<br>
<%= link_to('Roar', '#', :onclick => 'jsRoar("javascript"); return true;')%>
<%= javascript_tag("jsRoar('Rails');")%>