<% @page_title = "Admin Menu" %>

<div class="menu">
  <h2>Admin Menu</h2>
  <div class="identity">Logged in as:<%= session[:username]%></div>
  <ul>
    <li><%= link_to("Manage Content", :controller => 'subjects') %></li>
    <li><%= link_to("Manage Admin Users", :controller => 'admin_user') %></li>
    <li><%= link_to("Logout", :action => 'logout') %></li>
  </ul>
</div>