<%= error_messages_for(@subject)%>
<table summary="Subject form fields">
  <tr>
    <th><%= f.label( :name, "Name" ) %></th>
    <td><%= f.text_field(:name) %></td>
  </tr>
  <tr>
    <th><%= f.label( :position ) %></th>
    <td><%= f.select( :position, 1..@subject_count) %></td>
  </tr>
  <tr>
    <th><%= f.label( :visible ) %></th>
    <td><%= f.check_box(:visible) %></td>
  </tr>
  <tr>
    <th><%= f.label( :created_at ) %></th>
    <td><%= f.datetime_select(:created_at, :order => [:day, :month, :year]) %></td>
  </tr>
</table>
