<!DOCTYPE html>
<html>
  <head>
    <%= stylesheet_link_tag( 'application', :media => 'all' )%>
    <title>Simple CMS</title>
    <style>
    span.status { display: block; width: 10px; height: 10px;
      margin: 0.25em auto; padding: 0; border: 1px solid #000000; }
    span.status.true  { background: green; color: green; }
    span.status.false { background: red; color: red; }
    </style>
  </head>
  <body>
    <div id="header">
      <h1>Simple CMS</h1>
    </div>
    <div id="main">
      <div id="navigation">
        <%= render(:partial => 'layouts/navigation', :locals => { :subjects => @subjects })%>
      </div>
      <div id="content">
        <%= yield %>
      </div>
      <div id="clear"></div>
    </div>
    <div id="footer">
      <p id="copyright">&copy; Artem Adamenko</p>
    </div>
  </body>
</html>
